<div class="post media" id="post-<= post.id %>">
  <div class="media-left">
    <img class="post-cover" src=<%= post.banner %> alt="">
  </div>
  <div class="media-body">
    <div class="post-title"><%= link_to post.title, post %></div>
    <% if post.published? %>
    <div class="post-summary markdown">
      <%= simple_format post.summary %>
    </div>
    <div class="post-info">
      <%= press_user_name_tag(post.user) %>
      &nbsp; &nbsp;
      <span class="time" title="发布时间"><i class="fa fa-clock-o"></i> <%= timeago(post.created_at) %></span>
      &nbsp; &nbsp;
      <%= link_to "#{post.comments_count} 条评论", post_path(post, anchor: 'comments') %>
      &nbsp; &nbsp;
      <%= post.likes_count %>个赞
    </div>
    <% end %>
  </div>
</div>
